.cart-page {
  background-color: #FF6600;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  box-sizing: border-box;
  font-family: Impact;
}

.cart {
  margin-top: 100px;
  padding: 20px 16px 60px 16px;
  width: 100%;
  background-color: #FFFF00;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 800px;
}




.cart h1 {
  font-size: 1.8rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 12px 16px;
  margin-bottom: 20px;
  font-weight: bold;
}

.cart p {
  font-size: 1.2rem;
  color: #261200;
  margin-top: 20px;
  font-weight: 600;
}

.cart-total {
  font-weight: bolder;
}




.cart-list {
  display: flex;
  flex-direction: column;
  gap: 10px; /* расстояние между карточками */
  padding: 0;
  margin: 0;
  width: 100%;
}

.cart-item {
 position: relative;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
  margin-bottom: 10px;
  font-weight: 600;
  color: #261200;
  font-size: 1rem;
  display: flex;
  align-items: center;
  /* убрал max-height и overflow */
  padding: 0; 
}

/* Информация о товаре */
.cart-item .info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 8px;         /* минимальный паддинг */
  width: 100%;
  line-height: 1.2;
}

.remove-item-btn {
  margin-left: auto; /* уезжает вправо */
  background-color: #DB2E27;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  padding: 6px 10px;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
}

.remove-item-btn:hover {
  background-color: #aa0000;
}

.nowrap {
  white-space: nowrap;
  font-weight: bold;
  background-color: #FFFF00;
}

.clear-cart-btn,
.checkout-btn {
  font-weight: bold;
  border-radius: 10px;
  padding: 14px;
  font-size: 1.1rem;
  font-family: Impact;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  margin-top: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s ease, color 0.2s ease;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.clear-cart-btn {
  background-color: white;
  color: #261200;
}

.clear-cart-btn:hover {
  background-color: #DB2E27;
  color: white;
}

.checkout-btn {
  background-color: #FF6600;
  color: white;
}

.checkout-btn:hover {
  background-color: white;
  color: #DB2E27;
}

@media (max-width: 768px) {
  .cart {
    padding: 20px 12px 60px 12px;
  }

  .cart-item .info {
    font-size: 16px;
    padding: 12px;
  }

  .remove-item-btn {
    font-size: 0.9rem;
    padding: 6px 10px;
  }

  .clear-cart-btn,
  .checkout-btn {
    font-size: 1.2rem;
    padding: 16px;
  }
}

.info .left-space {
  display: none;
}

@media (min-width: 769px) {
  .info .left-space {
    display: inline-block;
    width: 20px;
    flex-shrink: 0;
  }
}