*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.catalog {
  height: 100vh;
  color: #FFFF00;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  /* background-color: #492A03; */
  background-color: #261200;
}

.catalog-categories {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 100;
  /* background: #EF7E22; */
  background-color: #FF6600;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px 8px;
  gap: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  border-bottom: 1.5px solid #222;
  overflow-x: auto;
  scrollbar-width: none;
  font-family: Impact;
}

.catalog-categories::-webkit-scrollbar {
  display: none;
}

.catalog-categories-button {
  flex: 0 0 auto;
  padding: 8px 16px;
  background-color: white;
  color: #261200;
  font-size: 14px;
  font-family: Impact;

  border-radius: 10px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.2s ease;
}

.catalog-categories-button:hover {
  background-color: #f0f0f0;
}

.catalog-categories-button.active {
  background-color: #261200;
  color: white;
}

.catalog-list-outer {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  margin-top: 150px; 
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  align-items: center;
  gap: 22px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  /* margin-top: 100px; */
  padding: 16px 8px 0 8px;
  box-sizing: border-box;
}


@media (max-width: 600px) {
  .catalog-categories {
    gap: 8px;
    padding: 10px 6px;
    justify-content: flex-start;
  }

  .catalog-categories-button {
    font-size: 13px;
    padding: 6px 12px;
  }

  .catalog-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 12px 4px 0 4px;
    gap: 14px;
  }
  .catalog-list-outer {
  
  margin-top: 210px; 
}
}


.mini-cart {
  position: fixed;
  bottom: 20px;   /* левый нижний угол */
  left: 20px;
  background-color: #FF6600;  /* как кнопки каталога */
  color: white;
  font-family: Impact;
  font-weight: bold;
  padding: 12px 16px;
  border-radius: 50px;       /* круглая форма */
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  cursor: pointer;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}