.fail{
background-color: #FFFF00;
color: #261200;
font-size: 10px;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1rem;
text-align: center;
font-family: Impact;
padding-top: 100px;
}

.btn-fail{
    background-color: #EF7F1A;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    font-family: Impact;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
  
   
}