.fail{
background-color: gray;
color: #261200;
font-size: 10px;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1rem;
text-align: center;
font-family: Impact;
padding-top: 100px;
}

.btn-fail{
   background-color: #EF7F1A;
    font-family: Impact;
    font-size: 15px;
    color: white;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
  
   
}