.orders {
  background-color: #FFFF00;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem 4rem;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: Impact;
}
.order-location{

font-size: 15px;
border-radius: 10px;
color: #DB2E27;
}
.status-field {
  background-color: #FF6600;
  padding: 8px 12px;
border-radius: 10px;
color: white;
}

.orders-title {
  font-size: 2rem;
  font-family: Impact;
  margin-bottom: 2rem;
  text-align: center;
  color: #261200;
  font-weight: bold;
}

.orders-list {
  list-style: none;
  padding: 0;

  margin-top: 70px;
  width: 95%;
  max-width: 600px;
}

.order-card {
  background-color: #fff;
  border-radius: 15px;
  padding: 1.2rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.order-card:hover {

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: #FF6600 10px solid;
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
  font-weight: bold;
  color: #0A0002;
}

.order-info {
  margin-bottom: 0.75rem;
  font-size: 0.95rem;
  color: #555;
}

.order-info strong {
  color: #0A0002;
}

.order-items {
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-size: 0.9rem;
  color: #0A0002;
}

.order-item {
  margin-bottom: 0.4rem;
  line-height: 1.4;
}

.orders-loading,
.orders-empty {
  text-align: center;
  margin-top: 4rem;
  font-size: 1.1rem;
  color: #5a5757;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1rem;
  color: #261200 ;
}

.pagination button {
  background-color: #FF6600;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: default;
}

.pagination button:hover:not(:disabled) {
  background-color: #DB2E27;
}
