.profile {
  display: flex;
  flex-direction: column;
  align-items: center;         
  justify-content: flex-start; 
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
   font-family: Impact;
  padding-top: 100px;
  text-align: center;
  gap: 1rem;                  
  box-sizing: border-box;
  margin-top: 200px;



}

.profile p {
  font-size: 17px;

  color: white;
  margin: 0;
}


.phone-edit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.savephone-input,
.savephone-btn,
.cancellSave {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 10px;
  box-sizing: border-box;
  background-color: white;
  color: #261200 ;
  border: none;
  cursor: pointer;
}

.savephone-btn {
  background-color: green;
  color: white;
}

.cancellSave {
  background-color: #EF7F1A;
  color: #261200 ;
  border: none;
}

.auth-btn {
  background-color: #EF7F1A;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 10px;
  cursor: pointer;
  color:  white;
  margin-top: 0.8rem;
}

.logout-btn {
  margin-top: 1.5rem;
  padding: 12px 20px;
  background-color: #00CCCC;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  color: white;
}


.dialog-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.dialog {
  background: #fff;
  padding: 24px 20px;
  box-shadow: 0 4px 32px rgba(0,0,0,0.18);
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 90vw;
  max-width: 350px;
  align-items: stretch;
  text-align: center;
  color:  #0A0002;
}

.dialog p {
  margin: 0 0 10px;
  font-size: 1.1rem;
  color:  #0A0002;
}

.dialog button {
  width: 100%;
  min-height: 40px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.dialog button:not(:last-child) {
  margin-bottom: 10px;
}

.delete-btn {
  background: #e53935;
  color: #fff;
}

.auth-btn-yellow {
  background-color: #EF7F1A;
  color: #261200;
}

.auth-btn-green {
  background-color: green;
  color: #fff;
}
