.success{
background-color: #EF7F1A;
color: #261200;
font-size: 10px;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1rem;
text-align: center;
font-family: Impact;
padding-top: 100px;
}

.info{
  font-size: 30px;
  color: white;
  margin: 0 20px;
}

.success p{
  font-size: 20px;
  margin: 0 20px;
  color: white;
}
.btn-success{
    background-color: white;
    font-family: Impact;
    font-size: 15px;
    color: black;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    margin-top: 30px;
}

.success-message {
  font-size: 16px;
  background: white;
  color: black;
  padding: 12px 20px;
  border-radius: 8px;
}
.success-message p{
  color: red;
}
.success-message-inner{
  background-color: red;
  color: white;
  padding: 12px 20px;
  border-radius: 12px;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}



.number-text{
  font-size: 20px;
}

.number{
  color: white;
  font-size: 40px;
}