.success{
background-color: #FFFF00;
color: #261200;
font-size: 10px;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1rem;
text-align: center;
font-family: Impact;
padding-top: 100px;
}

.btn{
    background-color: #EF7F1A;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
  
   
}


.success-message {
  position: fixed;
  margin-bottom: 170px;
  width: 300px;
  height: auto;
  left: 50%;
  font-size: 16px;
  transform: translateX(-50%);
  background: #4caf50;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  z-index: 1000;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}