.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  /* background: #FBE038; */
  background-color: #492A03;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1000;
}


.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}


.logo-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.logo-center img {
  height: 70px;
}


@media (max-width: 1300px) {
  .logo-center {
    display: none;
  }
  

}


.nav-overlay {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 100px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;          
  cursor: pointer;
  pointer-events: auto;
}

@media (max-width: 768px) {
  .nav-overlay.open {
    display: block;      
  }
}

.logotype {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.logotype img {
  display: block;
  height: 80px;
  width: auto;
}

.nav {
  display: flex;
  gap: 10px;
  z-index: 1100;
}

.nav a {
  text-decoration: none;
  /* color: #4A1504; */
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.nav a.active {
  font-weight: bold;
  border-bottom: 2px solid #4A1504;
}


.burger {
  display: none;
  width: 30px;
  height: 25px;
  position: relative;
  z-index: 1100;
  background: none;
  border: none;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

.burger span:nth-child(1) {
  top: 0;
}
.burger span:nth-child(2) {
  top: 11px;
}
.burger span:nth-child(3) {
  top: 22px;
}

.burger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 11px;
}
.burger.open span:nth-child(2) {
  opacity: 0;
}
.burger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 11px;
}


.burger-wrap {

  position: fixed;
  top: 35px;  
  right: 30px; 
  z-index: 1200;
}

.burger-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  z-index: 1200;
  background-color: #DB2E27;
  color: white;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 2px 6px;
  border-radius: 50%;
}


@media (min-width: 768px) {
  .burger-badge {
    display: none;
  }
}


@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .nav {
    
    position: fixed;
    top: 100px;
    left: -350px;
    width: 250px;
    height: calc(100% - 100px);
    background: #FBE038;

    flex-direction: column;
    padding: 20px;
    gap: 15px;
    transition: left 0.3s ease;
  }
.nav a {
font-size: 18px; 
 color: #492A03; 
  }
  .nav.open {
    left: 0;
  }
}


.cart-badge {
  background-color: #DB2E27;
  color: white;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 5px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

}


.cart-badge.inline {
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
  vertical-align: top;
}




.change-location-btn {
  max-width: 150px;
  background-color: #DB2E27;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}

