.location-overlay {
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #261200;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  font-family: Evolventa;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Safe-area для мобильных */
@media (max-width: 1200px) {
  .location-overlay {
    padding-top: env(safe-area-inset-top, 0px);
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
}


.location-modal {
  background: #FFE3B5;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  text-align: center;
  min-width: 280px;
}

.location-modal h2 {
  margin-bottom: 1.2rem;
  font-size: 18px;
  color: #261200;
}

.location-modal button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


.btn-location{
  background-color: #EF7F1A;
  color: whitesmoke;
  font-weight: bold;
}

.info-time{
  color: white;
}

.btn-location:hover {
  background-color: white;
   color: #a81c1a;
}

@media (max-width: 768px){
  .info-time{
    font-size: 12px;
  }

}
