.location-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FF6600;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  font-family: Evolventa
}

.location-modal {
  background: #FFFF00;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  text-align: center;
  min-width: 280px;
}

.location-modal h2 {
  margin-bottom: 1.2rem;
  font-size: 18px;
  color: #261200;
}

.location-modal button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.cuba {
  background-color: white;
  color: #261200;
  font-weight: bold;
}

.karlmarks {
  background-color: white;
  color: #261200;
  font-weight: bold;
}
